*~
*.log
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
include/
lib/
share/
parts/
dist/
var/
.coverage
htmlcov/

# OSX
.DS_Store
/.settings/*

src/brasil/gov/agenda/browser/static/*
/.settings/
/local
pyvenv.cfg
/local.cfg
