language: python
python: 2.7
sudo: false
cache:
  directories:
  - eggs
env:
  matrix:
    - PLONE_VERSION=4.3
    - MASTER=true
    - PENDING_RELEASE=true
matrix:
  allow_failures:
    - env: MASTER=true
  fast_finish: true
install:
- sed -i "s#test-4.3#test-$PLONE_VERSION#" buildout.cfg
- test $MASTER && sed -ie '/https:\/\/raw\.githubusercontent\.com\/plonegovbr\/portal\.buildout\/master\/buildout\.d\/versions\.cfg/d' buildout.cfg || true
- python bootstrap.py
- bin/buildout annotate
- bin/buildout
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - firefox -v
script:
- bin/code-analysis
- bin/test
after_success:
- bin/createcoverage
- pip install -q coveralls
- coveralls
notifications:
  irc: irc.freenode.org#plonegovbr
