[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/plonegovbr/portal.buildout/master/buildout.d/versions.cfg

package-name = brasil.gov.agenda
package-extras = [test]
eggs +=
    z3c.unconfigure

parts +=
    code-analysis
    dependencychecker
    omelette
    precompile
    pylint
    rebuild_i18n-sh
    node
    staticresources

[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/brasil/gov/agenda
clean-lines-exclude = ${:directory}/static
clean-lines = True
multiprocessing = True
pre-commit-hook = True
return-status-codes = True
flake8-ignore = E501,P001,S001,T000

[dependencychecker]
recipe = zc.recipe.egg
eggs = z3c.dependencychecker

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[pylint]
recipe = zc.recipe.egg
eggs = pylint < 2.0

[node]
recipe = gp.recipe.node
version = 8.11.2
npms = npm yarn
scripts = npm yarn

[staticresources]
recipe = sc.recipe.staticresources
name = brasil.gov.agenda
short_name = brasilgovagenda

[versions]
# Necessário colocar o pacote com versão vazia para que o versison.cfg do release
# mais novo do extends não sobrescreva o próprio pacote.
brasil.gov.agenda =

# XXX: remove after new release
plone.protect = 3.0.27

# É necessário ter o precompile para gerar os '*.mo' para os testes. Os '*.mo'
# só são gerados quando a instância sobe e para executar os testes a instância
# não é levantada.
[precompile]
recipe = plone.recipe.precompiler
eggs = brasil.gov.agenda
compile-mo-files = true
