.portaltype-agenda #content,
.portaltype-agendadiaria #content {
  background-color: #f9f9f9;
  /* Title */
  .documentFirstHeading {
    margin-bottom: .5em;
    padding: 0 0 .5em;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
    color: #333333;
    width: 100%;
  }
  /* Esconder Document By Line */
  #plone-document-byline {
    display: none !important;
  }
  /* Social Like */
  #viewlet-social-like,
  div.width-1\3a 2 #viewlet-social-like {
    right: -25px;

    width: 100%;
    padding: .5em 0;

    text-align: right;

    border: none;
  }
  .dados-agenda > *,
  .calendar-title {
    margin-bottom: 2rem;
  }
  .search-form {
    display: flex;
    justify-content: center;
  }
  .search-form .LSBox {
    display: flex;
    align-items: center;
    border: solid 1px #cccccc;
    background: #fff;
    width: 960px;
    height: 60px;
    max-width: 100%;
    margin: 0;
  }
  .search-form .searchField {
    border: none;
    flex: 2 auto;
    margin: 0 0 0 2rem;
    height: 2rem;
  }
  .search-form .searchButton {
    @include sprite($agenda-magnifying);
    border: none;
    background-color: transparent;
    text-indent: -3000px;
    margin: 1rem;
  }
  .list-compromissos {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-bottom: 6rem;
  }
  .item-compromisso-wrapper {
    background: #fff;
    width: 960px;
    padding: 2rem;
    margin-bottom: 1rem;
  }
  .item-compromisso {
    display: flex;
  }
  .compromisso-horarios {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    margin-right: 2rem;
    padding-right: 2rem;
  }
  .horario {
    display: flex;
    align-items: center;
    margin-bottom: .2rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    color: #222222;
  }
  .horario::before {
    @include sprite($agenda-timestamp);
    display: inline-block;
    content: '';
    margin: 0 .3rem;
  }
  .now {
    background-color: #56c75f;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: .1rem .5rem;
    text-transform: uppercase;
  }
  .compromisso-dados {
    display: flex;
    flex-wrap: wrap;
  }
  .compromisso-titulo {
    flex: 1 100%;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.29;
    color: #222222;
    margin-bottom: .5rem;
  }
  .compromisso-local,
  .download-compromisso > span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.79;
    color: #222222;
  }
  .compromisso-local::before {
    @include sprite($agenda-location);
    display: inline-block;
    content: '';
    margin: 0 .3rem;
  }
  .compromisso-local {
    border-right: 1px solid #ddd;
    margin-right: 1rem;
    padding-right: 1rem;
  }
  .add-agenda {
    @include sprite($agenda-calendar);
    display: inline-block;
    margin: 0 .3rem;
    overflow: hidden;
    text-indent: -3000px;
    border: none;
  }
}

#content .portalMessage {
  margin-top: 30px;

  text-align: left;

  color: #596E7F;
}


/*
 * Sem compromisso
 */

.sem-compromisso {
  font-size: 1.2em;
  font-weight: bold;

  color: #464A55;
}

/* Botões de editar e remover
   ========================================================================== */

.compromisso-acoes {
  margin: 10px 0 !important;
  li {
    display: inline-block !important;
  }
}

.adicionar_compromisso {
  line-height: 30px;
}

/* ==========================================================================
   Portlet laterais
   ========================================================================== */

.portletSearch,
.portletCalendar,
.portletSearch .portletItem,
.portletCalendar .portletItem,
.portletSearch .portletHeader,
.portletCalendar .portletHeader,
.portletSearch .portletFooter,
.portletCalendar .portletFooter {
  background: #EDEFF1 !important;
}

.portletSearch .portletHeader,
.portletCalendar .portletHeader {
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: normal;

  padding: 15px 12px;

  background: #EDEFF1 !important;
}

/* Portlet de Calendario
   ========================================================================== */

.portletCalendarEx tr.month {
  background: none !important;
}

.ploneCalendar {
  .event {
    background: none !important;
  }
  .activeevent {
    background: #444 !important;
  }
}

#portal-column-two dl.portlet .activeevent a {
  &:link,
  &:visited {
    color: #FFF !important;
  }
}

.portletCalendar {
  .weekdays th {
    font-weight: normal;
  }
  .ploneCalendar td {
    font-weight: bold;
  }
}

.ploneCalendar .weekdays th {
  background: none;
}

/* Portlet de Busca
   ========================================================================== */

.portletSearch {
  .portletHeader .tile {
    margin-bottom: 0 !important;
  }
  .portletItem {
    font-size: 80%;

    margin: 10px 12px !important;
    padding: 2px !important;
    padding: 2px;

    border-radius: 5px;
    background: #FFF !important;
    .searchField {
      font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
      font-size: 1.2em;

      width: 170px;
      padding: .3em .35em;

      border: none;
      border-right: none;
    }
    .searchButton {
      padding: 4px 15px;
      padding-right: 5px;

      text-indent: -100px;

      border: none;
      background: transparent;
      background-image: url('./img/icon-search-agenda.png');
      background-repeat: no-repeat;
      background-position: 0 2px;
    }
  }
  .portletText {
    margin: 10px 13px;
  }
  .portletFooter {
    display: none;
  }
}

/* ==========================================================================
   Contraste Agenda
   ========================================================================== */
body.contraste #content {
  .list-actions .print {
    background: url('./img/print-icon-altocontraste.png') no-repeat;
  }
  .compromisso-pauta,
  .compromisso-local,
  .print a .texto,
  .collection-events .timestamp {
    color: white;
  }
  .footer-actions {
    border-top: 4px solid #FFF;
    border-bottom: 2px solid #FFF;
  }
  .list-compromissos {
    border-bottom: 1px solid #FFF;
  }
  .item-compromisso {
    border-top: 1px solid #D6DCD7;
  }
  .collection-events .timestamp {
    background-position: 0 -15px;
  }
}
