.portaltype-agendadiaria {
  /* Title */
  #content .documentFirstHeading {
    margin-bottom: .5em;
    padding: 0 0 .5em;

    border-bottom: 1px dotted #BFC0C2;
  }
  /* Esconder Document By Line */
  #plone-document-byline {
    display: none !important;
  }
  /* Social Like */
  #viewlet-social-like,
  div.width-1\3a 2 #viewlet-social-like {
    right: -25px;

    width: 100%;
    padding: .5em 0;

    text-align: right;

    border: none;
  }
}

/* ==========================================================================
   Dados Agenda
   ========================================================================== */
.dados-agenda {
  font-family: Arial, Helvetica, sans-serif;

  text-align: center;
}

.brasao-agenda {
  margin-top: 20px;
}

.agenda-orgao {
  font-size: 1.2em;
  font-weight: normal;

  margin-bottom: .2em;
}

.agenda-autoridade {
  font-size: 1.2em;
  font-weight: normal;

  margin-bottom: 1em;

  text-transform: uppercase;
}

.agenda-dia {
  font-size: 1.7em;
  font-weight: bold;
}

#content {
  .portalMessage {
    margin-top: 30px;

    text-align: left;

    color: #596E7F;
  }
  /*
   * Lista dos compromissos
   */
  .list-compromissos {
    margin-left: 0;

    border-bottom: 1px solid #D6DCD7;
  }
  .item-compromisso {
    overflow: hidden;

    margin-top: 10px;
    padding: 24px 0 14px;

    list-style: none;

    border-top: 1px solid #D6DCD7;
  }
}


/* ==========================================================================
   Dados Compromisso
   ========================================================================== */

.comprimisso-horarios {
  font-family: Arial, Helvetica, sans-serif;

  float: left;

  width: 68px;
  .horario {
    line-height: 14px !important;

    display: block;

    height: 14px;
    padding: 0 0 10px 20px;

    background: url('./img/icon-horarios.png') no-repeat;
  }
  .comprimisso-inicio {
    background-position: 0 0;
  }
  .comprimisso-fim {
    background-position: 0 -25px;
  }
}

.comprimisso-dados {
  font-family: Arial, Helvetica, sans-serif;

  float: left;

  width: 400px;
  padding-left: 19px;

  border-left: 1px dotted #D6DCD7;
}

.comprimisso-titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  margin-bottom: 20px;
}

.comprimisso-participantes {
  line-height: 1.25em;
}

#content {
  .comprimisso-pauta,
  .comprimisso-local {
    font-size: 1em;
    line-height: 1.25em;

    color: #596E7F;
  }
}

/*
 * Sem compromisso
 */

.sem-compromisso {
  font-size: 1.2em;
  font-weight: bold;

  color: #464A55;
}

/* Botões de editar e remover
   ========================================================================== */

.compromisso-acoes {
  margin: 10px 0 !important;
  li {
    display: inline-block !important;
  }
}

.adicionar_compromisso {
  line-height: 30px;
}

/* vCal iCal
   ========================================================================== */

.download-compromisso {
  line-height: 20px;
}

.add-agenda {
  display: block;
  float: left;
  overflow: hidden;

  width: 20px;
  height: 20px;
  margin-right: 8px;

  white-space: nowrap;
  text-indent: 100%;

  background: url('./img/icon-file-agenda.png') no-repeat;
}

/* ==========================================================================
   Rodape Agenda
   ========================================================================== */

.footer-actions {
  margin: 45px 0 0 0;
  padding: 12px 0;

  border-top: 4px solid #172938;
  border-bottom: 2px solid #8B949B;
}

.list-actions {
  display: inline-block;
  .item {
    display: block !important;
    float: left;
    clear: none !important;

    width: 100px;
    height: 20px;
    margin-bottom: 0 !important;

    list-style: none !important;
  }
}

#content .print a .texto {
  font-size: .917em;
  line-height: 1.909em;

  display: block;

  height: 1.909em;
  margin-left: 2.273em;

  color: #172938;
}

/*
 * Print Icon
 */

.list-actions .print {
  background: url('./img/print-icon.png') no-repeat;
}

/* ==========================================================================
   Portlet laterais
   ========================================================================== */

.portletSearch,
.portletCalendar,
.portletSearch .portletItem,
.portletCalendar .portletItem,
.portletSearch .portletHeader,
.portletCalendar .portletHeader,
.portletSearch .portletFooter,
.portletCalendar .portletFooter {
  background: #EDEFF1 !important;
}

.portletSearch .portletHeader,
.portletCalendar .portletHeader {
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: normal;

  padding: 15px 12px;

  background: #EDEFF1 !important;
}

/* Portlet de Calendario
   ========================================================================== */

.portletCalendarEx tr.month {
  background: none !important;
}

.ploneCalendar {
  .event {
    background: none !important;
  }
  .activeevent {
    background: #444 !important;
  }
}

#portal-column-two dl.portlet .activeevent a {
  &:link,
  &:visited {
    color: #FFF !important;
  }
}

.portletCalendar {
  .weekdays th {
    font-weight: normal;
  }
  .ploneCalendar td {
    font-weight: bold;
  }
}

.ploneCalendar .weekdays th {
  background: none;
}

/* Portlet de Busca
   ========================================================================== */

.portletSearch {
  .portletHeader .tile {
    margin-bottom: 0 !important;
  }
  .portletItem {
    font-size: 80%;

    margin: 10px 12px !important;
    padding: 2px !important;
    padding: 2px;

    border-radius: 5px;
    background: #FFF !important;
    .searchField {
      font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
      font-size: 1.2em;

      width: 170px;
      padding: .3em .35em;

      border: none;
      border-right: none;
    }
    .searchButton {
      padding: 4px 15px;
      padding-right: 5px;

      text-indent: -100px;

      border: none;
      background: transparent;
      background-image: url('./img/icon-search-agenda.png');
      background-repeat: no-repeat;
      background-position: 0 2px;
    }
  }
  .portletText {
    margin: 10px 13px;
  }
  .portletFooter {
    display: none;
  }
}

.agenda-tile {
  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
  > * {
    margin-bottom: 2rem;
  }
  .collectionevents-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collectionevents-title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .collectionevents-stroke {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    position: absolute;
    top: 50%;
  }
  .collectionevents-title {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
    text-transform: uppercase;
    background: #fff;
    padding: 0 2rem;
    z-index: 1;
  }
}

#content .monthpicker-wrapper {
  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  .monthpicker {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;

    position: relative;

    text-align: left;
    letter-spacing: normal;

    color: #222;
  }
  .year {
    font-size: 12px;
  }
  &::after {
    @include sprite($monthpicker-arrow);
    content: '';
    margin-left: .5rem;
  }
  .monthpicker input {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    opacity: 0;
  }
}
.ui-monthpicker .ui-datepicker-calendar {
  display: none;
}

#content .daypicker-wrapper {
  display: flex;

  justify-content: center;

  .daypicker {
    display: flex;

    margin: 0;

    list-style-type: none;
  }
  .day {
    display: flex;
    flex-direction: column;

    width: 95px;
    height: 95px;

    cursor: pointer;

    color: #DBDBDB;

    align-items: center;
    justify-content: center;
  }
  .day.has-appointment {
    color: #222;
  }
  .day.is-selected {
    color: #FFF;
    background-color: #56C75F;
  }
  .day:last-child {
    margin: 0;
  }
  .daypicker-day {
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;

    letter-spacing: normal;
  }
  .daypicker-weekday {
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;

    letter-spacing: normal;
    text-transform: uppercase;
  }
}

/* ==========================================================================
   Contraste Agenda
   ========================================================================== */
body.contraste #content {
  .list-actions .print {
    background: url('./img/print-icon-altocontraste.png') no-repeat;
  }
  .comprimisso-pauta,
  .comprimisso-local,
  .print a .texto,
  .collection-events .timestamp {
    color: white;
  }
  .footer-actions {
    border-top: 4px solid #FFF;
    border-bottom: 2px solid #FFF;
  }
  .list-compromissos {
    border-bottom: 1px solid #FFF;
  }
  .item-compromisso {
    border-top: 1px solid #D6DCD7;
  }
  .collection-events .timestamp {
    background-position: 0 -15px;
  }
}
