#content .monthpicker-stroke-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  .monthpicker-stroke {
    flex: 2 auto;
  }
}
#content .monthpicker-wrapper {
  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  padding: 0 2rem;
  z-index: 2;

  .monthpicker {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;

    position: relative;

    text-align: left;
    letter-spacing: normal;

    color: #222;
  }
  .year {
    font-size: 12px;
  }
  &::after {
    @include sprite($monthpicker-arrow);
    content: '';
    margin-left: .5rem;
  }
  .monthpicker input {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    opacity: 0;
  }
}
#content .has-image .monthpicker-stroke-wrapper {
  margin-bottom: 5rem !important;
  .monthpicker-stroke {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .monthpicker {
    color: #fff;
  }
  .monthpicker-wrapper::after {
    filter: invert(100%);
  }
}
#content .calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .calendar-title {
    opacity: 0.3;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.79;
    color: #222222;
    text-transform: uppercase;
  }
  .calendar-title .year {
    font-size: 12px;
  }
  .calendar {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
  }

  .ui-datepicker {
    border: none;
  }
  .ui-datepicker-title {
    display: flex;
    justify-content: center;
  }
  .ui-datepicker-title,
  .ui-datepicker-calendar {
    opacity: .4;
  }
  .ui-datepicker-group-middle .ui-datepicker-title,
  .ui-datepicker-group-middle .ui-datepicker-calendar {
    opacity: 1;
  }
  .ui-datepicker-group-first {
    transform: translateX(-1rem);
  }
  .ui-datepicker-group-last {
    transform: translateX(1rem);
  }
  .ui-datepicker-prev {
    transform: translate(-5rem, 7.5rem);
  }
  .ui-datepicker-next {
    transform: translate(5rem, 7.5rem);
  }
}
body .ui-datepicker,
#content .ui-datepicker {
  width: auto!important;
  .ui-datepicker-header {
    background: none;
    border: none;
  }
  .ui-datepicker-title {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.79;
    color: #222222;
  }
  .ui-datepicker-title.loaded {
    display: flex;
  }
  .ui-datepicker-month {
    text-transform: uppercase;
  }
  .ui-datepicker-year {
    font-size: 12px;
  }
  th {
    font-size: 12px;
    font-weight: 900;
    line-height: 3.33;
    color: #222222;
    text-transform: uppercase;
  }
  a.ui-state-default {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    color: #bdbdbd !important;
  }
  .ui-has-appointments a {
    color: #222 !important;
  }
  .ui-datepicker-current-day a {
    background-color: #56c75f;
    color: #fff !important;
    font-weight: bold;
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    opacity: 1;
    cursor: pointer;
  }
  .ui-datepicker-prev.ui-state-hover,
  .ui-datepicker-next.ui-state-hover {
    background: none;
    border: none;
  }
  .ui-datepicker-prev span {
    @include sprite($agenda-arrow-left);
  }
  .ui-datepicker-next span {
    @include sprite($agenda-arrow-right);
  }
}

#content .daypicker-wrapper {
  display: flex;

  justify-content: center;

  .daypicker {
    display: flex;

    margin: 0;

    list-style-type: none;
  }
  .day {
    display: flex;
    flex-direction: column;

    width: 95px;
    height: 95px;

    cursor: pointer;

    color: #DBDBDB;

    align-items: center;
    justify-content: center;
  }
  .day.has-appointment {
    color: #222;
  }
  .day.is-selected {
    color: #FFF;
    background-color: #56C75F;
  }
  .day:last-child {
    margin: 0;
  }
  .daypicker-day {
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;

    letter-spacing: normal;
  }
  .daypicker-weekday {
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;

    letter-spacing: normal;
    text-transform: uppercase;
  }
}
#content .has-image .daypicker-wrapper {
  order: -1;
  .day {
    color: rgba(255, 255, 255, 0.6);
  }
  .day.has-appointment,
  .day.is-selected {
    color: #fff;
  }
}

/* ==========================================================================
   Responsivo Agenda
   ========================================================================== */
@media (max-width: 767px) {
  #content .calendar-wrapper {
    .calendar-title {
      display: none;
    }
    .ui-datepicker-prev {
      transform: translate(-3rem, 7.5rem);
    }
    .ui-datepicker-next {
      transform: translate(3rem, 7.5rem);
    }
  }
}
