#content .agenda-tile {
  background: #f9f9f9;
  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
  > * {
    margin-bottom: 2rem;
  }
  .collectionevents-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collectionevents-title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2.5rem;
  }
  .collectionevents-stroke {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    position: absolute;
    top: 50%;
  }
  .collectionevents-title {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
    text-transform: uppercase;
    background: #f9f9f9;
    padding: 0 2rem;
    z-index: 1;
  }
  .collection-events {
    width: 1060px !important;
    box-sizing: border-box;
    padding: 0 0 30px 0;
  }
  .swiper-slide {
    display: flex;
    justify-content: space-evenly;

  }
  .collection-events-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px;
    background: #fff;
  }
  .collection-events-item > * {
    margin-bottom: 0.3rem;
  }
  .title-item {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    cursor: pointer;
  }
  a.title-item:hover {
    color: #222222 !important;
  }
  .location,
  .timestamp {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #222222;
  }
  .location-item::before {
    @include sprite($agenda-location);
    display: inline-block;
    content: '';
    margin: 0 .3rem;
  }
  .timestamp-cell.is-now {
    font-weight: bold;
    color: #fff;
    background-color: #56c75f;
  }
  .timestamp-cell.is-now .timestamp {
    font-weight: bold;
    color: #fff;
  }
  .timestamp-cell::before {
    @include sprite($agenda-timestamp);
    display: inline-block;
    content: '';
    margin: 0 .3rem;
  }
  .timestamp-cell.is-now::before {
    filter: invert(100%);
  }
  .now {
    margin: .2rem .5rem 0 0;
    text-transform: uppercase;
    float: right;
  }
  .swiper-button-prev {
    @include sprite($agenda-arrow-left);
    background-size: auto;
    left: 0;
  }
  .swiper-button-next {
    @include sprite($agenda-arrow-right);
    background-size: auto;
    right: 0;
  }
  .swiper-pagination-bullet {
    border-radius: 0;
    width: 30px;
  }
  .swiper-pagination-bullet-active {
    background: #333;
  }
  .agenda-tile-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
  }
  .agenda-tile-footer > a {
    border: 2px solid #000;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
  }
  .agenda-tile-footer > a:hover {
    color: #222 !important;
  }
}
