/*
 *
 * CSS com estilos para o produto de Agenda
 *
 * @Autores
 *
 * - Simples Consultoria - www.simplesconsultoria.com.br
 * - DESERTO Digital - www.desertodigital.com.br
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */

/* ==========================================================================
   Title
   ========================================================================== */

.portaltype-agendadiaria #content .titulo-agenda {
    margin-bottom: 0.5em;
    padding: 0 0 0.5em;
    border-bottom: 1px dotted #bfc0c2;
}

.portaltype-agendadiaria #content .documentFirstHeading { display: none; }

/* ==========================================================================
   Viewlet Bellow Content Title
   ========================================================================== */

/*
 * Esconder Document By Line
 */

.portaltype-agendadiaria #plone-document-byline {
    display: none !important;
}

/*
 * Social Like
 */

.portaltype-agendadiaria div.width-1\3a 2 #viewlet-social-like {
    padding: 0.5em 0;
    width: 100%;
    border: none;
}


/* ==========================================================================
   Dados Agenda
   ========================================================================== */

.dados-agenda {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.brasao-agenda { margin-top: 10px; }

.agenda-orgao {
    margin-bottom: 0.2em;
    font-weight: normal;
    font-size: 1.2em;
}

.agenda-autoridade {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2em;
}

.agenda-dia {
    font-size: 1.7em;
    font-weight: bold;
}

#content .list-compromissos {
    margin-left: 0;
}

#content .item-compromisso {
    overflow: hidden;
    margin-top: 10px;
    padding: 24px 0 14px;
    border-top: 1px solid #d6dcd7;
    list-style: none;
}

.comprimisso-horarios {
    width: 68px;
    float: left;
}

.comprimisso-horarios .horario { display: block; }

.comprimisso-dados {
    float: left;
    padding-left: 19px;
    width: 400px;
    border-left: 1px dotted #d6dcd7;
    font-family: Arial, Helvetica, sans-serif;
}

.comprimisso-titulo { margin-bottom: 20px; }

.comprimisso-participantes { line-height: 1.5em; }

.comprimisso-pauta,
.comprimisso-local { color: #596e7f; }

